@charset "UTF-8";
body {
  font-family: 'Noto Sans KR', sans-serif;
}
.container{
  width: 100%;
  height: 2300px;
}
.main-area {
  width: 100%;
  height: 793px;
}

.main-area  {
  background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #B7E8EB 100%);
}
.first-area {
	width: 100%;
	height : 35%;
}
.con-img {
	width: 100%;
}
.con-img>img {
	width: 75%;
	height: 75%;
	top: 100px;
}

.site-info {
  width: 100%;
  height: 22%;
  background: lightsteelblue;
  float:inline-end;
}
.event-area {
  width: 100%;
  height: 23%;
  position: relative;
  overflow: hidden;
}
.event-area img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.event-area div {
  font-size: 35px;
  font-weight: 600;
  color: #ffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.event-area .event-span {
  font-size: 15px;
  font-weight: 300;
  display: inline-block;
}
.event-area .event-time {
  font-size: 20px;
  font-weight: 300;
  vertical-align: bottom;
}
.event-area .input-area {
  width: 300px;
  text-align: left;
  padding: 10px;
  margin-top: 30px;
  outline: none;
  border: 0;
  border-bottom: 2px solid #ffff;
  background-color: transparent;
  color: #ffff;
  font-weight: 500;
  font-size: 20px;
}
 .input-area {
  width: 300px;
  text-align: left;
  padding: 10px;
  margin-top: 30px;
  outline: none;
  border: 0;
  border-bottom: 2px solid #ffff;
  background-color: transparent;
  color: #ffff;
  font-weight: 500;
  font-size: 20px;
}
.input-area::placeholder{
	font-size : 13px;
	color : white;
}
.event-area button {
  padding: 7px 20px 7px 20px;
  margin: 20px 50px 0 0;
  border: 1px solid rgba(128, 128, 128, 0.61);
  border-radius: 5px;
  font-weight: 300;
}
.ch-area {
  width: 100%;
  height: 20%;
  background: lavender;
}
.img-box {
  float: left;
  width: 33.3%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-box img {
  position: absolute;
  width: 100%;
}
.img-box span {
  position: absolute;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}
/* swiper css */
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-button{
        width:100px;
        height:40px;
        color:rgb(100, 100, 100);
        border : 1px solid rgb(100, 100, 100);
        text-align:center;
        line-height:38px;
        border-radius: 5px;
        cursor: pointer;
    }
        .event-button:hover{
            animation-name:button;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
        }
        .event-button:not(:hover){
            animation-name:notButton;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
        }
        @keyframes button{
            from{
                color:rgb(100, 100, 100);
                background-color: white;
            }
            to{
                color:white;
                background-color: rgb(100, 100, 100);
            }
        }
        @keyframes notButton{
            from{
                color:white;
                background-color: rgb(100, 100, 100);
            }
            to{
                color:rgb(100, 100, 100);
                background-color: white;
            }
        }

.searchBtn{
	position: absolute;
	right: 242px;
	top: 230px;
	background: none;
	border: none;
}
        
        