<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auctionMapper">

  	<resultMap type="Auction" id="auctionResultMap">
  		<id property="auctionNo" column="AUCTION_NO"/>
  		<result property="userId" column="USER_ID"/>
  		<result property="auctionTitle" column="AUCTION_TITLE"/>
  		<result property="auctionTime" column="AUCTION_TIME"/>
  		<result property="auctionPrice" column="AUCTION_PRICE"/>
  		<result property="varRegDate" column="VAR_REG_DATE"/>
  		<result property="regDate" column="REG_DATE"/>
  		<result property="count" column="COUNT"/>
  	</resultMap>
  	
  	<resultMap type="AuctionImage" id="auctionImageResultMap">
  		<id property="auctionNo" column="AUCTION_NO"/>
  		<result property="userId" column="USER_ID"/>
  		<result property="fileName" column="FILE_NAME"/>
  		<result property="filePath" column="FILE_PATH"/>
  		<result property="fileSize" column="FILE_SIZE"/>
  		<result property="regDate" column="REG_DATE"/>
  		<result property="fileMain" column="FILE_MAIN"/>
  	</resultMap>
  	
  	<resultMap type="AuctionHistory" id="auctionHistoryResultMap">
  		<id property="auctionNo" column="AUCTION_NO"/>
  		<result property="userId" column="USER_ID"/>
  		<result property="regDate" column="REG_DATE"/>
  		<result property="auctionStart" column="AUCTION_START"/>
  		<result property="auctionTitle" column="AUCTION_TITLE"/>
  		<result property="auctionStatus" column="AUCTION_STATUS"/>
  		<result property="auctionTime" column="AUCTION_TIME"/>
  		<result property="auctionPrice" column="AUCTION_PRICE"/>
  		<result property="point" column="POINT"/>
  		<result property="fileName" column="FILE_NAME"/>
  		<result property="filePath" column="FILE_PATH"/>
  		<result property="fileMain" column="FILE_MAIN"/>
  	</resultMap>
  	
  	<resultMap type="AuctionUser" id="auctionUserResultMap">
  		<id property="auctionNo" column="AUCTION_NO"/>
  		<result property="userId" column="USER_ID"/>
  		<result property="point" column="POINT"/>
  	</resultMap>
  	
  	<resultMap type="AuctionSuccessFul" id="auctionSuccessFulResultMap">
		<id property="auctionNo" column="AUCTION_NO"/>
  		<result property="buyer" column="BUYER"/>
  		<result property="seller" column="SELLER"/>
  		<result property="auctionPrice" column="AUCTION_PRICE"/>
  		<result property="auctionDate" column="AUCTION_DATE"/>
  		<result property="auctionReceipt" column="AUCTION_RECEIPT"/>
  		<result property="auctionTitle" column="AUCTION_TITLE"/>
  		<result property="count" column="COUNT"/>
  	</resultMap>
  	
  	<!-- auction -->
  	<select id="selectAuctionList" resultMap="auctionResultMap">
  		SELECT ROWNUM AS COUNT, A.* FROM AUCTION A ORDER BY COUNT DESC
  	</select>
  	<select  id="selectAuctionOneByNo" parameterType="_int" resultMap="auctionResultMap">
  		SELECT * FROM AUCTION WHERE AUCTION_NO = #{auctionNo }
  	</select>
   	<select id="selectListCount" resultType="_int">
  		SELECT COUNT(*) FROM AUCTION
  	</select>
  	<select id="selectMyHistory" parameterType="string" resultType="_int">
  		SELECT COUNT(*) FROM AUCTION_HISTORY WHERE AUCTION_STATUS = 'Y' AND USER_ID = #{userId}
  	</select>
  	<select id="selectMyBidList" parameterType="string" resultType="_int">
  		SELECT COUNT(*) FROM AUCTION_HISTORY WHERE AUCTION_NO IN (SELECT AUCTION_NO FROM AUCTION_USER WHERE USER_ID = #{userId})
  	</select>
  	<insert id="insertAuction" parameterType="Auction">
	  	<selectKey keyProperty="auctionNo" resultType="_int" order="BEFORE" >
	  		SELECT SEQ_AUCTION_NO.NEXTVAL FROM dual
	  	</selectKey>
  		INSERT INTO AUCTION VALUES(#{auctionNo} , #{userId }, #{auctionTitle }, #{auctionTime }, #{auctionPrice }, DEFAULT, #{varRegDate })
  	</insert>
  	<delete id="deleteAuction" parameterType="java.util.Arrays">
  		DELETE FROM AUCTION
  		<where>
  			AUCTION_NO IN
  			<foreach collection="array" item="item" index="index" open="(" close=")" separator=", ">
  				#{item }
  			</foreach>
  		</where>
  	</delete>
  	
  	<!-- auctionImage -->
  	<select id="selectAuctionImage" parameterType="_int" resultMap="auctionImageResultMap">
  		SELECT * FROM AUCTION_IMAGE WHERE AUCTION_NO = #{auctionNo }
  	</select>
  	<insert id="insertAuctionImage" parameterType="list">
  		<foreach item="item" open="INSERT ALL" close="SELECT * FROM SYS.DUAL" collection="list" separator=" ">
	  		INTO AUCTION_IMAGE VALUES
  			(#{item.auctionNo }, #{item.userId }, #{item.fileName }, #{item.filePath }, #{item.fileSize }, DEFAULT, #{item.fileMain })
  		</foreach>
  	</insert>
  	<delete id="deleteAuctionImage" parameterType="java.util.Arrays">
  		DELETE FROM AUCTION_IMAGE
  		<where>
  			AUCTION_NO IN
  			<foreach collection="array" item="item" index="index" open="(" close=")" separator=", ">
  				#{item }
  			</foreach>
  		</where>
  	</delete>
  	
  	<!-- auctionHistory -->
  	<select id="selectAllList" resultMap="auctionHistoryResultMap">
  		SELECT A.AUCTION_NO, A.USER_ID, A.AUCTION_TITLE, A.AUCTION_STATUS, A.AUCTION_TIME, A.AUCTION_PRICE, A.REG_DATE, A.AUCTION_START, A.POINT, B.FILE_NAME, B.FILE_PATH, B.FILE_MAIN FROM AUCTION_IMAGE B LEFT JOIN (SELECT A.AUCTION_NO, A.USER_ID, A.AUCTION_START, A.REG_DATE, A.AUCTION_TITLE, A.AUCTION_STATUS, A.AUCTION_TIME, A.AUCTION_PRICE, B.POINT FROM AUCTION_HISTORY A LEFT JOIN (SELECT AUCTION_NO, MAX(POINT) AS POINT FROM AUCTION_USER GROUP BY AUCTION_NO ORDER BY AUCTION_NO DESC) B ON A.AUCTION_NO = B.AUCTION_NO WHERE AUCTION_STATUS = 'Y') A ON A.AUCTION_NO = B.AUCTION_NO WHERE FILE_MAIN = 'Y' AND A.AUCTION_NO IS NOT NULL
  	</select>
  	<select id="selectList" resultMap="auctionHistoryResultMap">
        SELECT A.AUCTION_NO, A.USER_ID, A.AUCTION_TITLE, A.AUCTION_STATUS, A.AUCTION_TIME, A.AUCTION_PRICE, A.REG_DATE, A.AUCTION_START, A.POINT, B.FILE_NAME, B.FILE_PATH, B.FILE_MAIN FROM AUCTION_IMAGE B LEFT JOIN (SELECT A.AUCTION_NO, A.USER_ID, A.AUCTION_START, A.REG_DATE, A.AUCTION_TITLE, A.AUCTION_STATUS, A.AUCTION_TIME, A.AUCTION_PRICE, B.POINT FROM AUCTION_HISTORY A LEFT JOIN (SELECT AUCTION_NO, MAX(POINT) AS POINT FROM AUCTION_USER GROUP BY AUCTION_NO ORDER BY AUCTION_NO DESC) B ON A.AUCTION_NO = B.AUCTION_NO WHERE AUCTION_STATUS = 'Y') A ON A.AUCTION_NO = B.AUCTION_NO WHERE FILE_MAIN = 'Y' AND A.AUCTION_NO IS NOT NULL AND a.AUCTION_NO IN (SELECT c.AUCTION_NO FROM AUCTION_USER c WHERE c.USER_ID = #{userId})
     </select>
  	<select id="selectHistoryListCount" resultType="_int">
  		SELECT COUNT(*) FROM AUCTION_HISTORY WHERE AUCTION_STATUS = 'Y'
  	</select>
  	<select id="selectHistoryOneByNo" parameterType="_int" resultMap="auctionHistoryResultMap">
  		SELECT * FROM AUCTION_HISTORY WHERE AUCTION_NO = #{auctionNo }
  	</select>
  	<select id="selectMyAuctionList" resultMap="auctionHistoryResultMap">
        SELECT A.AUCTION_NO, A.USER_ID, A.AUCTION_TITLE, A.AUCTION_STATUS, A.AUCTION_TIME, A.AUCTION_PRICE, A.REG_DATE, A.AUCTION_START, A.POINT, B.FILE_NAME, B.FILE_PATH, B.FILE_MAIN FROM AUCTION_IMAGE B LEFT JOIN (SELECT A.AUCTION_NO, A.USER_ID, A.AUCTION_START, A.REG_DATE, A.AUCTION_TITLE, A.AUCTION_STATUS, A.AUCTION_TIME, A.AUCTION_PRICE, B.POINT FROM AUCTION_HISTORY A LEFT JOIN (SELECT AUCTION_NO, MAX(POINT) AS POINT FROM AUCTION_USER GROUP BY AUCTION_NO ORDER BY AUCTION_NO DESC) B ON A.AUCTION_NO = B.AUCTION_NO WHERE AUCTION_STATUS = 'Y') A ON A.AUCTION_NO = B.AUCTION_NO WHERE FILE_MAIN = 'Y' AND A.AUCTION_NO IS NOT NULL AND a.USER_ID = #{userId}
    </select>
  	<insert id="insertAuctionHistory" parameterType="list">
  		<foreach item="item" open="INSERT ALL" close="SELECT * FROM SYS.DUAL" collection="list" separator=" ">
  			INTO AUCTION_HISTORY VALUES
  			(#{item.auctionNo }, #{item.userId }, #{item.auctionStart }, DEFAULT, #{item.auctionTitle }, DEFAULT, #{item.auctionTime }, #{item.auctionPrice })
  		</foreach>
  	</insert>
  	<update id="updateAuctionHistory" parameterType="_int">
  		UPDATE AUCTION_HISTORY SET AUCTION_STATUS = 'N' WHERE AUCTION_NO = #{auctionNo }
  	</update>
  	
  	<!-- auctionUser -->
  	<select id="selectAuctionUser" parameterType="_int" resultMap="auctionUserResultMap">
  		SELECT ROWNUM, A.* FROM (SELECT * FROM AUCTION_USER ORDER BY POINT DESC) A WHERE AUCTION_NO = #{auctionNo } AND ROWNUM = 1
  	</select>
  	<insert id="insertAuctionUser" parameterType="AuctionUser">
  		INSERT INTO AUCTION_USER VALUES(#{auctionNo }, #{userId }, #{point })
  	</insert>
  	<delete id="deleteAuctionUser" parameterType="java.util.Arrays">
  		DELETE FROM AUCTION_USER
  		<where>
  			AUCTION_NO IN
  			<foreach collection="array" item="item" index="index" open="(" close=")" separator=", ">
  				#{item }
  			</foreach>
  		</where>
  	</delete>
  	
  	<!-- AuctionSuccessFul -->
  	<select id="selectAuctionSuccessFulList" resultMap="auctionSuccessFulResultMap">
  		SELECT ROWNUM AS COUNT, A.* FROM AUCTION_SUCCESSFUL A WHERE AUCTION_RECEIPT = 'N' ORDER BY AUCTION_DATE DESC
  	</select>
  	<select id="selectAuctionSuccessFulByNo" resultMap="auctionSuccessFulResultMap" parameterType="hashmap">
  		SELECT * FROM AUCTION_SUCCESSFUL WHERE AUCTION_RECEIPT = 'N' AND
  		<foreach collection="auctionNo" item="item" separator="or">
			AUCTION_NO = ${item }
  		</foreach>
  	</select>
  	<insert id="insertAuctionSuccessFul" parameterType="AuctionSuccessFul">
  		INSERT INTO AUCTION_SUCCESSFUL VALUES(#{auctionNo }, #{buyer }, #{seller }, #{auctionPrice }, DEFAULT, DEFAULT, #{auctionTitle })
  	</insert>
  	<update id="updateAuctionSuccessFul" parameterType="java.util.Arrays">
  		UPDATE AUCTION_SUCCESSFUL SET AUCTION_RECEIPT = 'Y' WHERE AUCTION_NO IN
  		<foreach collection="array" item="item" index="index" separator=", " open="(" close=")">
  			#{item }
  		</foreach>
  	</update>
  	
  </mapper>