<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auctionMapper">
  	<resultMap type="Auction" id="auctionResultMap">
  		<id property="auctionNo" column="AUCTION_NO"/>
  		<result property="userId" column="USER_ID"/>
  		<result property="auctionTitle" column="AUCTION_TITLE"/>
  		<result property="auctionTime" column="AUCTION_TIME"/>
  		<result property="auctionPrice" column="AUCTION_PRICE"/>
  		<result property="varRegDate" column="VAR_REG_DATE"/>
  		<result property="regDate" column="REG_DATE"/>
  		<result property="fileName" column="FILE_NAME"/>
  		<result property="filePath" column="FILE_PATH"/>
  		<result property="fileMain" column="FILE_MAIN"/>
  		<!-- <collection property="aList" column="auctionNo=AUCTION_NO" javaType="java.util.List" ofType="AuctionImage" select="auctionMapper.selectMainImage"></collection> -->
  	</resultMap>
  	<resultMap type="AuctionImage" id="auctionImageResultMap">
  		<id property="auctionNo" column="AUCTION_NO"/>
  		<result property="userId" column="USER_ID"/>
  		<result property="fileName" column="FILE_NAME"/>
  		<result property="filePath" column="FILE_PATH"/>
  		<result property="fileSize" column="FILE_SIZE"/>
  		<result property="regDate" column="REG_DATE"/>
  		<result property="fileMain" column="FILE_MAIN"/>
  	</resultMap>
  	<!-- auction -->
  	<select id="selectAllList" resultMap="auctionResultMap">
  		SELECT A.AUCTION_NO, A.USER_ID, A.AUCTION_TITLE, A.AUCTION_TIME, A.AUCTION_PRICE, A.VAR_REG_DATE, B.FILE_NAME, B.FILE_PATH, B.FILE_MAIN FROM AUCTION A LEFT JOIN AUCTION_IMAGE B ON A.AUCTION_NO = B.AUCTION_NO WHERE B.FILE_MAIN = 'Y' ORDER BY AUCTION_NO DESC
  	</select>
  	<select id="selectOneByNo" parameterType="_int" resultMap="auctionResultMap">
  		SELECT * FROM AUCTION WHERE AUCTION_NO = #{auctionNo }
  	</select>
  	<select id="selectAuctionImage" parameterType="_int" resultMap="auctionImageResultMap">
  		SELECT * FROM AUCTION_IMAGE WHERE AUCTION_NO = #{auctionNo }
  	</select>
  	<select id="selectListCount" resultType="_int">
  		SELECT COUNT(*) FROM AUCTION
  	</select>
<!--   	<select id="selectMainImage" resultMap="auctionImageResultMap" parameterType="_int">
  		SELECT * FROM AUCTION_IMAGE WHERE AUCTION_NO = #{auctionNo }
  	</select> -->
  	<insert id="insertAuction" parameterType="Auction">
	  	<selectKey keyProperty="auctionNo" resultType="_int" order="BEFORE" >
	  		SELECT SEQ_AUCTION_NO.NEXTVAL FROM dual
	  	</selectKey>
  		INSERT INTO AUCTION VALUES(#{auctionNo} , #{userId }, #{auctionTitle }, #{auctionTime }, #{auctionPrice }, DEFAULT, #{varRegDate })
  	</insert>
  	<!-- auctionImage -->
  	<insert id="insertAuctionImage" parameterType="list">
  		<foreach item="item" open="INSERT ALL" close="SELECT * FROM SYS.DUAL" collection="list" separator=" ">
	  		INTO AUCTION_IMAGE VALUES
  			(#{item.auctionNo }, #{item.userId }, #{item.fileName }, #{item.filePath }, #{item.fileSize }, DEFAULT, #{item.fileMain })
  		</foreach>
  	</insert>
  </mapper>