<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="challengeMapper">
	<resultMap type="Challenge" id="challengeResultMap">
		<id property="chNo" column="CH_NO"/>
		<result property="categoryNo" column="CATEGORY_NO"/>
		<result property="chWriter" column="USER_ID"/>
		<result property="chTitle" column="CH_TITLE"/>
		<result property="chContents" column="CH_CONTENTS"/>
		<result property="writeDate" column="WRITE_DATE"/>
		<result property="likeCount" column="CHLIKE_COUNT"/>
		<result property="replyCount" column="REPLY_COUNT"/>
		<result property="chConfirm" column="CH_CONFIRM"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileSize" column="FILE_SIZE"/>
		<result property="fileDate" column="FILE_DATE"/>
		<result property="fileMain" column="FILE_MAIN"/>
	</resultMap>
	
<!-- 	<insert id="insertCh"> -->
<!-- 		INSERT ALL -->
<!-- 		INTO CHALLENGE VALUES(SEQ_CH_NO.NEXTVAL, #{categoryNo}, #{chWriter}, #{chTitle}, #{chContents}, -->
<!-- 		DEFAULT, DEFAULT, DEFAULT, DEFAULT) -->
<!-- 		INTO CALLENGE_FILE VALUES(SEQ_CH_NO.NEXTVAL, #{chWriter}, #{categoryNo}, #{filePath}, #{fileName}, #{fileSize}, DEFAULT) -->
<!-- 	</insert> -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM CHALLENGE ORDER BY CH_NO DESC
	</select>
	<select id="selectAllList" resultMap="challengeResultMap">
		SELECT c.CATEGORY_NO, c.CH_NO, c.USER_ID, c.CH_TITLE, c.WRITE_DATE, c.CHLIKE_COUNT, c.REPLY_COUNT, f.FILE_PATH, f.FILE_NAME, f.FILE_MAIN FROM CHALLENGE c LEFT JOIN CHALLENGE_FILE f ON c.CH_NO = f.CH_NO WHERE f.FILE_MAIN = 'Y' ORDER BY CH_NO DESC
	</select>
<!-- 	<select id="selectAllList" resultMap="challengeResultMap"> -->
<!-- 		SELECT * FROM CHALLENGE ORDER BY CH_NO DESC -->
<!-- 	</select> -->
	<select id="selectOne" resultMap="challengeResultMap">
		SELECT * FROM CHALLENGE WHERE CH_NO = #{chNo}
	</select>
	<select id="selectOneImg" resultMap="challengeResultMap">
		SELECT FILE_NAME FROM CHALLENGE_FILE WHERE CH_NO = #{chNo}
	</select>
	<insert id="insertChallenge" parameterType="Challenge">
		<selectKey keyProperty="chNo" resultType="_int" order="BEFORE">
			SELECT SEQ_CH_NO.NEXTVAL FROM dual
		</selectKey>
		INSERT INTO CHALLENGE VALUES(#{categoryNo}, #{chNo}, #{chWriter}, #{chTitle}, #{chContents}, DEFAULT, DEFAULT, DEFAULT, DEFAULT )
	</insert>
	<insert id="insertImage" parameterType="list">
		<foreach item="item" open="INSERT ALL" close="SELECT * FROM SYS.DUAL" collection="list" separator=" ">
			INTO CHALLENGE_FILE VALUES
			(#{item.chNo}, #{item.chWriter}, #{item.categoryNo}, #{item.filePath}, #{item.fileName}, #{item.fileSize}, DEFAULT, #{item.fileMain})
		</foreach>
	</insert>
	<update id="updateChallenge" parameterType="challenge">
		UPDATE CHALLENGE SET CH_TITLE = #{chTitle}, CH_CONTENTS = #{chContents} WHERE CH_NO = #{chNo}
	</update>
	<delete id="deleteChallenge" parameterType="_int">
		DELETE FROM CHALLENGE WHERE CH_NO = #{chNo}
	</delete>
</mapper>