<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chargePointMapper">
	<resultMap type="ChargePoint" id="cpResultMap">
		<id property="chargeNo" column="CHARGE_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="chargeMoney" column="CHARGE_MONEY"/>
		<result property="chargePoint" column="CHARGE_POINT"/>
		<result property="chargeDate" column="CHARGE_DATE"/>
		<result property="refund" column="REFUND"/>
		<result property="impUid" column="IMP_UID"/>
		<result property="rowNum" column="COUNT"/>
	</resultMap>
	
	<!-- 충환전 리스트 -->
	<select id="selectUserIdList" parameterType="hashMap" resultMap="cpResultMap">
		SELECT  ROWNUM AS COUNT,A.* FROM (SELECT * FROM CHARGE_POINT WHERE USER_ID = #{userId } ORDER BY CHARGE_DATE ASC) A ORDER BY A.CHARGE_DATE DESC
	</select>
	
	<select id="selectListCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM CHARGE_POINT WHERE USER_ID = #{userId }
	</select>
	
	<!-- chargePoint 테이블 데이터 추가  -->
	<insert id="insertChargePoint" parameterType="ChargePoint">
		INSERT INTO CHARGE_POINT VALUES(SEQ_CP_NO.NEXTVAL, #{userId }, #{chargeMoney }, #{chargePoint }, DEFAULT, #{impUid }, DEFAULT)
	</insert>
	
	<!-- pointHistory  -->
	<insert id="insertPHChargePoint" parameterType="Point">
		INSERT INTO POINT_HISTORY VALUES(#{userId }, DEFAULT, #{pointContents }, #{pointPayment }, DEFAULT, 'Y')
	</insert>
	
	
</mapper>