<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pointMapper">
	<resultMap type="Point" id="pointResultMap">
		<id property="userId" column="USER_ID"/>
		<result property="pointDate" column="POINT_DATE"/>
		<result property="pointContents" column="POINT_CONTENTS"/>
		<result property="pointPayment" column="POINT_PAYMENT"/>
		<result property="pointUse" column="POINT_USE"/>
		<result property="rowNum" column="COUNT"/>
	</resultMap>
	<select id="selectPoint" resultMap="pointResultMap">
		SELECT ROWNUM AS COUNT, A.* FROM (SELECT * FROM POINT_HISTORY WHERE USER_ID = #{userId} ORDER BY POINT_DATE) A ORDER BY POINT_DATE DESC
	</select>
	<select id="selectTotalUse" resultMap="pointResultMap" parameterType="String">
		select USER_ID, SUM(POINT_USE) as POINT_USE from POINT_HISTORY WHERE USER_ID = #{userId} group by USER_ID
	</select>
	<select id="selectListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*) FROM POINT_HISTORY WHERE USER_ID = #{userId}
	</select>
	<update id="updateUserChPoint" parameterType="hashmap">
		UPDATE USERS SET POINT = POINT + #{pointPayment} WHERE USER_ID = #{userId}
	</update>
	<insert id="updateChPoint" parameterType="Point">
		INSERT INTO POINT_HISTORY VALUES(#{userId}, DEFAULT, #{pointContents},
		#{pointPayment}, DEFAULT, DEFAULT)
	</insert>
	<insert id="insertBuyerPoint" parameterType="User">
		INSERT INTO POINT_HISTORY VALUES(#{userId }, DEFAULT, '경매 낙찰', DEFAULT, #{point }, DEFAULT)
	</insert>
	<insert id="insertBuyerChargePoint" parameterType="hashmap">
		INSERT INTO POINT_HISTORY VALUES(#{userId }, DEFAULT, '경매 낙찰', DEFAULT, #{point }, 'Y')
	</insert>
	<insert id="insertBuyerPointHistory" parameterType="hashmap">
		INSERT INTO POINT_HISTORY VALUES(#{userId }, DEFAULT, '경매 낙찰', DEFAULT, #{point }, DEFAULT)	
	</insert>
	<insert id="insertSellerPointHistory" parameterType="hashmap">
		INSERT INTO POINT_HISTORY VALUES(#{userId }, DEFAULT, '경매 판매', #{point }, DEFAULT, DEFAULT)
	</insert>
</mapper>