<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shopMapper">
	<resultMap type="OfflineShop" id="offlineShopResultMap">
		<id property="shopNo" column="SHOP_NO"/>
		<result property="shopName" column="SHOP_NAME"/>
		<result property="shopAddress" column="SHOP_ADDRESS"/>
		<result property="shopPhone" column="SHOP_PHONE"/>
		<result property="shopInstagram" column="SHOP_INSTAGRAM"/>
		<result property="category" column="CATEGORY"/>
	</resultMap>
	
	<resultMap type="OnlineShop" id="onlineShopResultMap">
		<id property="shopNo" column="SHOP_NO"/>
		<result property="shopName" column="SHOP_NAME"/>
		<result property="shopContents" column="SHOP_CONTENTS"/>
		<result property="shopAddress" column="SHOP_ADDRESS"/>
		<result property="shopImage" column="SHOP_IMAGE"/>
		<result property="category" column="CATEGORY"/>
	</resultMap>
	
	<!-- OfflineShop -->
	<select id="selectOfflineShopList" resultMap="offlineShopResultMap">
		SELECT * FROM OFFLINESHOP ORDER BY SHOP_NO ASC
	</select>
	<select id="selectOfflineSearchList" resultMap="offlineShopResultMap" parameterType="hashmap">
		SELECT * FROM OFFLINESHOP WHERE SHOP_NAME LIKE '%'||#{searchKeyword }||'%'
	</select>
	<select id="selectOfflineOneByNo" resultMap="offlineShopResultMap" parameterType="_int">
		SELECT * FROM OFFLINESHOP WHERE SHOP_NO = #{shopNo }
	</select>
	<select id="selectOfflineListCount" resultType="_int">
		SELECT COUNT(*) FROM OFFLINESHOP
	</select>
	<select id="selectSearchOfflineListCount" resultType="_int">
		SELECT COUNT(*) FROM OFFLINESHOP WHERE SHOP_NAME LIKE '%'||#{searchKeyword }||'%' ORDER BY SHOP_NO DESC
	</select>
	<select id="selectOfflineShopOneByNo" parameterType="_int" resultMap="offlineShopResultMap">
		SELECT * FROM OFFLINESHOP WHERE SHOP_NO = #{shopNo }
	</select>
	<insert id="insertOfflineShop" parameterType="OfflineShop">
		INSERT INTO OFFLINESHOP VALUES(SEQ_SHOP_NO.NEXTVAL, #{shopName }, #{shopAddress }, #{shopPhone }, #{shopInstagram }, #{category })
	</insert>
	<update id="updateOfflineShop" parameterType="offlineShop">
		UPDATE OFFLINESHOP SET SHOP_NAME = #{shopName }, SHOP_ADDRESS = #{shopAddress }, SHOP_PHONE = #{shopPhone }, SHOP_INSTAGRAM = #{shopInstagram }, CATEGORY = #{category } WHERE SHOP_NO = #{shopNo }
	</update>
	<delete id="deleteOfflineShop" parameterType="java.util.Arrays">
  		DELETE FROM OFFLINESHOP
  		<where>
  			SHOP_NO IN
  			<foreach collection="array" item="item" index="index" open="(" close=")" separator=", ">
  				#{item }
  			</foreach>
  		</where>
  	</delete>
  	<!-- OnlineShop -->
  	<select id="selectOnlineList" resultMap="onlineShopResultMap">
  		SELECT * FROM ONLINESHOP ORDER BY SHOP_NO ASC
  	</select>
  	<select id="selectOnlineListCount" resultType="_int">
  		SELECT COUNT(*) FROM ONLINESHOP
  	</select>
  	<select id="selectOnlineListOneByNo" parameterType="hashmap" resultMap="onlineShopResultMap">
  		SELECT * FROM ONLINESHOP WHERE
  		<foreach collection="shopNo" item="item" separator="or">
  			SHOP_NO = #{item }
  		</foreach>
  	</select>
  	<select id="selectOnlineSearchList" parameterType="hashmap" resultMap="onlineShopResultMap">
  		SELECT * FROM ONLINESHOP WHERE SHOP_NAME LIKE '%'||#{searchKeyword }||'%'
  	</select>
  	<select id="selectOnlineSearchCount" parameterType="string" resultType="_int">
  		SELECT COUNT(*) FROM ONLINESHOP WHERE SHOP_NAME LIKE '%'||#{searchKeyword }||'%'
  	</select>
  	<select id="selectOnlineShopOneByNo" parameterType="_int" resultMap="onlineShopResultMap">
  		SELECT * FROM ONLINESHOP WHERE SHOP_NO = #{shopNo }
  	</select>
  	<insert id="insertOnlineShop" parameterType="OnlineShop">
  		INSERT INTO ONLINESHOP VALUES(SEQ_ONLINE_SHOP_NO.NEXTVAL, #{shopName }, #{shopContents }, #{shopAddress }, #{shopImage }, #{category })
  	</insert>
  	<update id="updateOnlineShop" parameterType="OnlineShop">
  		UPDATE ONLINESHOP SET SHOP_NAME = #{shopName }, SHOP_CONTENTS = #{shopContents }, SHOP_ADDRESS = #{shopAddress }, SHOP_IMAGE = #{shopImage }, CATEGORY = #{category } WHERE SHOP_NO = #{shopNo } 
  	</update>
  	<delete id="deleteOnlineShop" parameterType="java.util.Arrays">
  		DELETE FROM ONLINESHOP
  		<where>
  			SHOP_NO IN
  			<foreach collection="array" item="item" index="index" open="(" close=")" separator=", ">
  				#{item }
  			</foreach>
  		</where>
  	</delete>
  	<!-- zerowaste -->
  	<select id="selectZeroWateList" resultMap="onlineShopResultMap">
  		SELECT * FROM ONLINESHOP WHERE CATEGORY = 'ZEROWASTE' ORDER BY SHOP_NO ASC
  	</select>
  	<select id="selectZeroWasteListCount" resultType="_int">
  		SELECT COUNT(*) FROM ONLINESHOP WHERE CATEGORY = 'ZEROWASTE'
  	</select>
  	<!-- upcycling -->
  	<select id="selectUpCyclingList" resultMap="onlineShopResultMap">
  		SELECT * FROM ONLINESHOP WHERE CATEGORY = 'UPCYCLING' ORDER BY SHOP_NO ASC
  	</select>
  	<select id="selectUpCyclingListCount" resultType="_int">
  		SELECT COUNT(*) FROM ONLINESHOP WHERE CATEGORY = 'UPCYCLING'
  	</select>
</mapper>