<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="offlineShopMapper">
	<resultMap type="OfflineShop" id="offlineShopResultMap">
		<id property="shopNo" column="SHOP_NO"/>
		<result property="shopName" column="SHOP_NAME"/>
		<result property="shopAddress" column="SHOP_ADDRESS"/>
		<result property="shopPhone" column="SHOP_PHONE"/>
		<result property="shopInstagram" column="SHOP_INSTAGRAM"/>
		<result property="category" column="CATEGORY"/>
	</resultMap>
	
	<resultMap type="OnlineShop" id="onlineShopResultMap">
		<id property="shopNo" column="SHOP_NO"/>
		<result property="shopName" column="SHOP_NAME"/>
		<result property="shopContents" column="SHOP_CONTENTS"/>
		<result property="shopAddress" column="SHOP_ADDRESS"/>
		<result property="shopImage" column="SHOP_IMAGE"/>
		<result property="category" column="CATEGORY"/>
	</resultMap>
	
	<!-- OfflineShop -->
	<select id="selectOfflineShopList" resultMap="offlineShopResultMap">
		SELECT * FROM OFFLINESHOP ORDER BY SHOP_NO ASC
	</select>
	<select id="selectOfflineSearchList" resultMap="offlineShopResultMap" parameterType="string">
		SELECT * FROM OFFLINESHOP WHERE SHOP_NAME LIKE '%'||#{searchKeyword }||'%'
	</select>
	<select id="selectOfflineOneByNo" resultMap="offlineShopResultMap" parameterType="_int">
		SELECT * FROM OFFLINESHOP WHERE SHOP_NO = #{shopNo }
	</select>
	<select id="selectOfflineListCount" resultType="_int">
		SELECT COUNT(*) FROM OFFLINESHOP
	</select>
	<delete id="deleteOfflineShop" parameterType="java.util.Arrays">
  		DELETE FROM OFFLINESHOP
  		<where>
  			SHOP_NO IN
  			<foreach collection="array" item="item" index="index" open="(" close=")" separator=", ">
  				#{item }
  			</foreach>
  		</where>
  	</delete>
</mapper>