<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- 만약에 데이터가 null로 전달되었으면 빈칸이 아닌 NULL로 인식하도록 설정 -->
	</settings>
	<typeAliases>
		<typeAlias alias="User" type="com.iei.greenlight.user.domain.User"/>
		<typeAlias alias="Challenge" type="com.iei.greenlight.challenge.domain.Challenge"/>
		<typeAlias alias="ChallengeImage" type="com.iei.greenlight.challenge.domain.CFile"/>
		<typeAlias alias="Auction" type="com.iei.greenlight.auction.domain.Auction"/>
		<typeAlias alias="AuctionImage" type="com.iei.greenlight.auction.domain.AuctionImage"/>
		<typeAlias alias="ChargePoint" type="com.iei.greenlight.chargePoint.domain.ChargePoint"/>
		<typeAlias alias="Point" type="com.iei.greenlight.mypage.domain.PointHistory"/>
		<typeAlias alias="AuctionHistory" type="com.iei.greenlight.auction.domain.AuctionHistory"/>
		<typeAlias alias="AuctionUser" type="com.iei.greenlight.auction.domain.AuctionUser"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/user-mapper.xml"/>
		<mapper resource="mappers/challenge-mapper.xml"/>
		<mapper resource="mappers/auction-mapper.xml"/>
		<mapper resource="mappers/chargePoint-mapper.xml"/>
		<mapper resource="mappers/point-mapper.xml"/>
	</mappers>
</configuration>