<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- 만약에 데이터가 null로 전달되었으면 빈칸이 아닌 NULL로 인식하도록 설정 -->
	</settings>
	<typeAliases>
		<typeAlias alias="User" type="com.iei.greenlight.user.domain.User"/>
		<typeAlias alias="Challenge" type="com.iei.greenlight.challenge.domain.Challenge"/>
		<typeAlias alias="ChallengeImage" type="com.iei.greenlight.challenge.domain.CFile"/>
		<typeAlias alias="Reply" type="com.iei.greenlight.challenge.domain.Reply"/>
		<typeAlias alias="ChLike" type="com.iei.greenlight.challenge.domain.ChLike"/>
		<typeAlias alias="Auction" type="com.iei.greenlight.auction.domain.Auction"/>
		<typeAlias alias="AuctionImage" type="com.iei.greenlight.auction.domain.AuctionImage"/>
		<typeAlias alias="ChargePoint" type="com.iei.greenlight.chargePoint.domain.ChargePoint"/>
		<typeAlias alias="Point" type="com.iei.greenlight.mypage.domain.PointHistory"/>
		<typeAlias alias="AuctionHistory" type="com.iei.greenlight.auction.domain.AuctionHistory"/>
		<typeAlias alias="AuctionUser" type="com.iei.greenlight.auction.domain.AuctionUser"/>
		<typeAlias alias="AuctionSuccessFul" type="com.iei.greenlight.auction.domain.AuctionSuccessFul"/>
		<typeAlias alias="OfflineShop" type="com.iei.greenlight.shop.domain.OfflineShop"/>
		<typeAlias alias="OnlineShop" type="com.iei.greenlight.shop.domain.OnlineShop"/>
		<typeAlias alias="DonationBoard" type="com.iei.greenlight.donationBoard.domain.DonationBoard"/>
		<typeAlias alias="AdCheck" type="com.iei.greenlight.mypage.domain.AdCheck"/>
		<typeAlias alias="Category" type="com.iei.greenlight.challenge.domain.Category"/>
		<typeAlias alias="DonationImage" type="com.iei.greenlight.donationBoard.domain.DtFile"/>
		<typeAlias alias="Donation" type="com.iei.greenlight.donationBoard.domain.Donation"/>
		<typeAlias alias="DonationReply" type="com.iei.greenlight.donationBoard.domain.DonationReply"/>
		<typeAlias alias="Category" type="com.iei.greenlight.challenge.domain.Category"/>
		<typeAlias alias="Event" type="com.iei.greenlight.event.domain.Event"/>
		<typeAlias alias="EventAnswer" type="com.iei.greenlight.event.domain.EventAnswer"/>
		<typeAlias alias="EventWinner" type="com.iei.greenlight.event.domain.EventWinner"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/user-mapper.xml"/>
		<mapper resource="mappers/challenge-mapper.xml"/>
		<mapper resource="mappers/auction-mapper.xml"/>
		<mapper resource="mappers/chargePoint-mapper.xml"/>
		<mapper resource="mappers/point-mapper.xml"/>
		<mapper resource="mappers/shop-mapper.xml"/>
		<mapper resource="mappers/donationBoard-mapper.xml"/>
		<mapper resource="mappers/adcheck-mapper.xml"/>
		<mapper resource="mappers/event-mapper.xml"/>
	</mappers>
</configuration>