
/* body{ */
/*     margin: 0px; */
/*     padding: 0px; */
/*     font-family: 'Noto Sans KR', sans-serif; */
/*     font-size: small; */
/*     color: #293E31; */
/* } */
img{
    height: 100%;
    width: 100%;
}
.warper{
    height: 100%;
    width: 1000px;
    margin: 0 auto;
}
/* header{ */
/*     height: 120px; */
/*     width: 100%; */
/* } */
#nav-section{
    margin-top: 30px;
    width: 1000px;
    height: 80px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.nav-item{
    list-style: none;
    float: left;
    text-align: center;
    height: 50px;
    width: 130px;
    line-height: 80px;
}
.nav-item a {
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-weight: 400;
}
.nav-link active{
     height: 100%;
     display: block;
     text-decoration: none;
}
/* 달력 */
  
.rap {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}
.date_head {
	margin-bottom: 10px;
}

.date_head div {
	background: #f7f7f7;
	color: rgb(0, 0, 0);
	text-align: center;
}

.date_form {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 5px;
}

.date_form div {
	width: 120px;
	padding: 10px 10px;
	font-size: 13px;
	font-weight: 300;
	cursor: default;
}

        .dateSel div {
        font-weight: 400;
        color: #333;
        min-height: 120px;
        padding: 16px 20px;
        border-radius: 5px;
        border: 1px solid #f7f7f7;
        cursor: default;
        }
        .dateSel .dateSell{
        font-weight: 400;
        color: #333;
        min-height: 130px;
        padding: 16px 20px;
        border-radius: 5px;
        border: 1px solid #ffffff;
        cursor: default;
        }
        .date_text {
        font-weight: 300;
        font-size: 30px;
        }

        #adCheck{
            text-align: center;
            margin-top: 20px;
            color: black;
        }
            .adCheck-butn{
			padding: 7px 50px 7px 50px;
  			border: 0.5px solid lightgray;
  			border-radius: 3px;
  			font-weight: 400;
  			display: block;
  			margin: 0 auto;
  			margin-top: 10px;
  			background: rgb(42, 173, 248);
  			color: #ffff;
  			font-weight: 300;
            }
.adCheckMark{
	width: 80px;
	height: 80px;
}