
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: small;
    color: #293E31;
}
img{
    height: 100%;
    width: 100%;
}
.warper{
    height: 100%;
    width: 1200px;
    margin: 0 auto;
}
header{
    height: 120px;
    width: 100%;
}
#nav-section{
    margin-top: 30px;
    width: 1200px;
    height: 80px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
    .nav-item{
        list-style: none;
        float: left;
        text-align: center;
        height: 50px;
        width: 135px;
        margin-right: 30px;
        line-height: 80px;
    }
        .nav-link active{
            height: 100%;
            display: block;
            text-decoration: none;
        }
#main-section{
    text-align: center;
    margin-left: 280px;
    margin-top: 150px;
    height: 400px;
    width: 650px;
}
    #main-img{
        height: 300px;
        width: 300px;
        margin: 0;
        float: left;
    }
        #main-img img{
            height: 100%;
            width: 100%;
            margin: 0px;
        }
    #main-text{
        margin-top:40px;
        font-size: 20px;
        height: 200px;
        width: 350px;
        float:right;
    }


