#nav-section{
    margin-top: 30px;
    width: 1200px;
    height: 80px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 60px;
}
    .nav-item{
    list-style: none;
    float: left;
    text-align: center;
    height: 50px;
    width: 135px;
    margin-right: 30px;
    line-height: 70px;
    font-size: 13px;
}
  .nav-link active{
      height: 100%;
      display: block;
      text-decoration: none;
}
.submit-btun{
	 background-color: #e6e6e6;
     color: black;
     border-top-left-radius: 25px;
     border-top-right-radius: 25px;
     border-bottom-left-radius: 25px;
     border-bottom-right-radius: 25px;
     border: 1px solid #b4b4b4;
     height: 50px;
     width: 120px;
}