.warper{
    height: 900px;
    width: 1000px;
    margin: 0 auto;
}

#nav-section{
    margin-top: 30px;
    width: 1000px;
    height: 80px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}
.nav-item{
    list-style: none;
    float: left;
    text-align: center;
    height: 50px;
    width: 130px;
    line-height: 80px;
}
.nav-item a {
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-weight: 400;
}

.submit-btun{
	display: inline;
    background-color: #e6e6e6;
    color: black;
	border-radius: 25px;
    border: 1px solid #b4b4b4;
    height: 40px;
    width: 120px;
    font-size: 14px; 
}