@charset "UTF-8";
body {
  font-family: 'Noto Sans KR', sans-serif;
}
.container {
  width: 1200px;
  max-height: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.write-form {
  width: 1000px;
  max-height: 2000px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 15px #4040403f;
}
.write-left {
  font-weight: 900;
  font-size: 55px;
  color: #293e31c0;
}
.write-right {
  font-weight: 200;
  font-size: 30px;
  margin-left: 30px;
}
.title-area {
  width: inherit;
  height: 80px;
  margin: 10px 0 10px 0;
}
.title-area input {
  width: 950px;
  height: 60px;
  padding: 5px;
  font-size: 25px;
  outline: none;
  border: 0;
  border-bottom: 1px solid gray;
  background-color: transparent;
}
/* .image_container {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  position: relative;
}
.image_container img {
  width: 100%; 
  height: 100%; 
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  right: 0;
  margin: 0 auto;
} */

#att_zone{
	max-width: 800px;
	min-height:150px;
	padding:10px;
}
#att_zone:empty:before{
	content : attr(data-placeholder);
	color : #999;
	font-size:.9em;
}